In [1]:
import pandas as pd

In [3]:
madrid = pd.read_csv('MyDatasets/madrid.csv')
madrid.head()

,Player,Time,Additional,Sequence,Round,Opponent,Date,Field
0,Benzema,47,N,1,1,Alavés,2021-08-14,A
1,Nacho,56,N,2,1,Alavés,2021-08-14,A
2,Benzema,62,N,3,1,Alavés,2021-08-14,A
3,Vinícius Junior,90+1,Y,4,1,Alavés,2021-08-14,A